.DS_Store
node_modules

# local env files
# .env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 忽略运行状态下的模板目录
www/tmpl_cfg/*
!www/tmpl_cfg/.gitkeep